/*
* @Author: nomeatcoder
* @Date:   2019-11-08 23:28:02
* @Last Modified by:   nomeatcoder
* @Last Modified time: 2019-11-08 23:45:55
*/
.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;
}
.nav .user{
    float: left;
}
.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right: 5px; 
}
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
     
}