/*
* @Author: nomeatcoder
* @Date:   2019-11-08 23:00:03
* @Last Modified by:   nomeatcoder
* @Last Modified time: 2019-11-08 23:07:41
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}